In [1]:
# Importing all the necessary libraries
# Data wrangling modules
import pandas as pd
import numpy as np

# Suppressing warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
pd.options.display.float_format = '{:,.3f}'.format

In [7]:
df_allchannelsalesvol = pd.read_excel('Salesvol-Combined - Copy.xlsx')

In [4]:
df_allchannelsalesunits = pd.read_excel('Salesunit-Combined.xlsx')

Skus	Out of Stock	Low WOS
SPF35 Travel Size	YES	
Skin Mist Full Size	YES	
Eye Cream	YES	
Serum-Eye	YES	
Ritual Starter Sets (.com)	NO	Yes

In [8]:
df_allchannelsalesvol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236415 entries, 0 to 236414
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Year            236415 non-null  int64
 1   Month           236415 non-null  int64
 2   Record Date     236415 non-null  datetime64[ns]
 3   Sku #           204025 non-null  object
 4   Sku             236415 non-null  object
 5   Merged Sku      236415 non-null  object
 6   Launch Date     204025 non-null  float64
 7   Classification  204025 non-null  object
 8   Subclass        204025 non-null  object
 9   Collection      204025 non-null  object
 10  Channel         236415 non-null  int64
 11  Volume          236415 non-null  float64
 12  COGS            204025 non-null  float64
 13  MSRP            204025 non-null  float64
 14  Line Edit       204025 non-null  object
 15  Region Name     204025 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(8)
memory usage: 28.9+ MB

In [6]:
df_allchannelsalesunits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236532 entries, 0 to 236531
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Year            236532 non-null  int64
 1   Month           236532 non-null  int64
 2   Record Date     236532 non-null  datetime64[ns]
 3   Sku #           204138 non-null  object
 4   Sku             236532 non-null  object
 5   Merged Sku      236508 non-null  object
 6   Launch Date     204138 non-null  float64
 7   Classification  204138 non-null  object
 8   Subclass        204138 non-null  object
 9   Collection      204138 non-null  object
 10  Channel         236532 non-null  int64
 11  Units           236532 non-null  float64
 12  COGS            204138 non-null  float64
 13  MSRP            204138 non-null  float64
 14  Line Edit       204138 non-null  object
 15  Region Name     204138 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(8)
memory usage: 28.9+ MB

In [27]:
net_revenue = df_allchannelsalesvol['Volume'].sum()

In [28]:
net_revenue

1290733317.437273

In [30]:
net_sales = df_allchannelsalesunits['Units'].sum()

In [31]:
net_sales

26232097.617269002

In [63]:
spf35_filt = (df_allchannelsalesvol['Sku'].str.contains('SPF35')) & (df_allchannelsalesvol['Sku'].str.contains('TRAVEL'))
df_allchannelsalesvol[spf35_filt]

,Year,Month,Record Date,Sku #,Sku,Merged Sku,Launch Date,Classification,Subclass,Collection,Channel,Volume,COGS,MSRP,Line Edit,Region Name
11628,2017,1,2017-01-01,Sku 82,SPF35-TRAVEL,SPF35-TRAVEL,"2,016.000",Travel,SPF,SPF,3,0.000,3.978,15.000,On Going,Northeast
11629,2017,1,2017-01-01,Sku 82,SPF35-TRAVEL,SPF35-TRAVEL,"2,016.000",Travel,SPF,SPF,3,0.000,3.978,15.000,On Going,Central
11630,2017,1,2017-01-01,Sku 82,SPF35-TRAVEL,SPF35-TRAVEL,"2,016.000",Travel,SPF,SPF,3,0.000,3.978,15.000,On Going,Western
11631,2017,1,2017-01-01,Sku 82,SPF35-TRAVEL,SPF35-TRAVEL,"2,016.000",Travel,SPF,SPF,3,0.000,3.978,15.000,On Going,Canada
11632,2017,1,2017-01-01,Sku 82,SPF35-TRAVEL,SPF35-TRAVEL,"2,016.000",Travel,SPF,SPF,3,0.000,3.978,15.000,On Going,Southern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232198,2019,8,2019-08-01,NaN,TSN-SPF35-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232199,2019,9,2019-09-01,NaN,TSN-SPF35-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232200,2019,10,2019-10-01,NaN,TSN-SPF35-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232201,2019,11,2019-11-01,NaN,TSN-SPF35-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232202,2019,12,2019-12-01,NaN,TSN-SPF35-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN

In [64]:
df_allchannelsalesvol['Volume'][spf35_filt].sum()

1168368.0

In [65]:
(df_allchannelsalesvol['Volume'][spf35_filt].sum()/net_revenue)*100

0.09051970567551265

In [66]:
spf35_filt_units = (df_allchannelsalesunits['Sku'].str.contains('SPF35')) & (df_allchannelsalesunits['Sku'].str.contains('TRAVEL'))
df_allchannelsalesunits[spf35_filt_units]

,Year,Month,Record Date,Sku #,Sku,Merged Sku,Launch Date,Classification,Subclass,Collection,Channel,Units,COGS,MSRP,Line Edit,Region Name
11628,2017,1,2017-01-01,Sku 82,SPF35-TRAVEL,SPF35-TRAVEL,"2,016.000",Travel,SPF,SPF,3,0.000,3.978,15.000,On Going,Northeast
11629,2017,1,2017-01-01,Sku 82,SPF35-TRAVEL,SPF35-TRAVEL,"2,016.000",Travel,SPF,SPF,3,0.000,3.978,15.000,On Going,Central
11630,2017,1,2017-01-01,Sku 82,SPF35-TRAVEL,SPF35-TRAVEL,"2,016.000",Travel,SPF,SPF,3,0.000,3.978,15.000,On Going,Western
11631,2017,1,2017-01-01,Sku 82,SPF35-TRAVEL,SPF35-TRAVEL,"2,016.000",Travel,SPF,SPF,3,0.000,3.978,15.000,On Going,Canada
11632,2017,1,2017-01-01,Sku 82,SPF35-TRAVEL,SPF35-TRAVEL,"2,016.000",Travel,SPF,SPF,3,0.000,3.978,15.000,On Going,Southern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226933,2019,8,2019-08-01,NaN,TSN-SPF35-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
226934,2019,9,2019-09-01,NaN,TSN-SPF35-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
226935,2019,10,2019-10-01,NaN,TSN-SPF35-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
226936,2019,11,2019-11-01,NaN,TSN-SPF35-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
226937,2019,12,2019-12-01,NaN,TSN-SPF35-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN

In [67]:
df_allchannelsalesunits['Units'][spf35_filt_units].sum()

78803.0

In [68]:
serum_eye_sales = df_allchannelsalesunits['Units'][spf35_filt_units].sum()
print((serum_eye_sales*100)/net_sales)

0.30040678084440625

In [70]:
df_allchannelsalesvol[df_allchannelsalesvol['Sku'].str.contains('SKIN-MIST')]

Empty DataFrame
Columns: [Year, Month, Record Date, Sku #, Sku, Merged Sku, Launch Date, Classification, Subclass, Collection, Channel, Volume, COGS, MSRP, Line Edit, Region Name]
Index: []

In [55]:
df_allchannelsalesvol['Volume'][df_allchannelsalesvol['Sku'].str.contains('SKIN-MIST')].sum()

100839799.91603296

In [56]:
(df_allchannelsalesvol['Volume'][df_allchannelsalesvol['Sku'].str.contains('SKIN-MIST')].sum()/net_revenue)*100

7.812597579509957

In [17]:
df_allchannelsalesunits[df_allchannelsalesunits['Sku'].str.contains('SKIN-MIST')]

,Year,Month,Record Date,Sku #,Sku,Merged Sku,Launch Date,Classification,Subclass,Collection,Channel,Units,COGS,MSRP,Line Edit,Region Name
9804,2017,1,2017-01-01,NaN,RTR-SKIN-MIST-LE17,RTR-SKIN-MIST-LE17,NaN,NaN,NaN,NaN,3,0.000,NaN,NaN,NaN,NaN
9805,2017,2,2017-02-01,NaN,RTR-SKIN-MIST-LE17,RTR-SKIN-MIST-LE17,NaN,NaN,NaN,NaN,3,0.000,NaN,NaN,NaN,NaN
9806,2017,3,2017-03-01,NaN,RTR-SKIN-MIST-LE17,RTR-SKIN-MIST-LE17,NaN,NaN,NaN,NaN,3,0.000,NaN,NaN,NaN,NaN
9807,2017,4,2017-04-01,NaN,RTR-SKIN-MIST-LE17,RTR-SKIN-MIST-LE17,NaN,NaN,NaN,NaN,3,0.000,NaN,NaN,NaN,NaN
9808,2017,5,2017-05-01,NaN,RTR-SKIN-MIST-LE17,RTR-SKIN-MIST-LE17,NaN,NaN,NaN,NaN,3,0.000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236455,2019,11,2019-11-01,Sku 19,SKIN-MIST-TRAVEL-V2,SKIN-MIST-TRAVEL-V2,"2,018.000",Travel,Mist,Dewy Skin,8,0.000,5.146,20.000,0,Unassigned
236456,2019,11,2019-11-01,Sku 19,SKIN-MIST-TRAVEL-V2,SKIN-MIST-TRAVEL-V2,"2,018.000",Travel,Mist,Dewy Skin,8,0.000,5.146,20.000,0,Southern
236457,2019,12,2019-12-01,Sku 19,SKIN-MIST-TRAVEL-V2,SKIN-MIST-TRAVEL-V2,"2,018.000",Travel,Mist,Dewy Skin,8,0.000,5.146,20.000,0,Canada
236458,2019,12,2019-12-01,Sku 19,SKIN-MIST-TRAVEL-V2,SKIN-MIST-TRAVEL-V2,"2,018.000",Travel,Mist,Dewy Skin,8,0.000,5.146,20.000,0,Unassigned
236459,2019,12,2019-12-01,Sku 19,SKIN-MIST-TRAVEL-V2,SKIN-MIST-TRAVEL-V2,"2,018.000",Travel,Mist,Dewy Skin,8,0.000,5.146,20.000,0,Southern

In [53]:
df_allchannelsalesunits['Units'][df_allchannelsalesunits['Sku'].str.contains('SKIN-MIST')].sum()

2706651.942366827

In [54]:
serum_eye_sales = df_allchannelsalesunits['Units'][df_allchannelsalesunits['Sku'].str.contains('SKIN-MIST')].sum()
print((serum_eye_sales*100)/net_sales)

10.318091911128736

In [18]:
df_allchannelsalesvol[df_allchannelsalesvol['Sku'].str.contains('EYE-CREAM')]

,Year,Month,Record Date,Sku #,Sku,Merged Sku,Launch Date,Classification,Subclass,Collection,Channel,Volume,COGS,MSRP,Line Edit,Region Name
2880,2017,1,2017-01-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,3,0.000,7.793,135.000,On Going,Central
2881,2017,1,2017-01-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,3,0.000,7.793,135.000,On Going,International
2882,2017,1,2017-01-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,3,0.000,7.793,135.000,On Going,Southern
2883,2017,1,2017-01-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,3,0.000,7.793,135.000,On Going,Western
2884,2017,1,2017-01-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,3,0.000,7.793,135.000,On Going,International
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232078,2019,8,2019-08-01,NaN,TSN-EYE-CREAM-TRAVEL-COMP,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232079,2019,9,2019-09-01,NaN,TSN-EYE-CREAM-TRAVEL-COMP,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232080,2019,10,2019-10-01,NaN,TSN-EYE-CREAM-TRAVEL-COMP,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232081,2019,11,2019-11-01,NaN,TSN-EYE-CREAM-TRAVEL-COMP,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232082,2019,12,2019-12-01,NaN,TSN-EYE-CREAM-TRAVEL-COMP,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN

In [51]:
df_allchannelsalesvol['Volume'][df_allchannelsalesvol['Sku'].str.contains('EYE-CREAM')].sum()

10379024.161849711

In [52]:
(df_allchannelsalesvol['Volume'][df_allchannelsalesvol['Sku'].str.contains('EYE-CREAM')].sum()/net_revenue)*100

0.8041184047574654

In [19]:
df_allchannelsalesunits[df_allchannelsalesunits['Sku'].str.contains('EYE-CREAM')]

,Year,Month,Record Date,Sku #,Sku,Merged Sku,Launch Date,Classification,Subclass,Collection,Channel,Units,COGS,MSRP,Line Edit,Region Name
2880,2017,1,2017-01-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,3,0.000,7.793,135.000,On Going,Central
2881,2017,1,2017-01-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,3,0.000,7.793,135.000,On Going,International
2882,2017,1,2017-01-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,3,0.000,7.793,135.000,On Going,Southern
2883,2017,1,2017-01-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,3,0.000,7.793,135.000,On Going,Western
2884,2017,1,2017-01-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,3,0.000,7.793,135.000,On Going,International
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234331,2019,12,2019-12-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,8,0.000,7.793,135.000,On Going,Western
234332,2019,12,2019-12-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,8,0.000,7.793,135.000,On Going,International
234333,2019,12,2019-12-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,8,0.000,7.793,135.000,On Going,Northeast
234334,2019,12,2019-12-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,8,0.000,7.793,135.000,On Going,Canada
234335,2019,12,2019-12-01,Sku 46,EYE-CREAM,EYE-CREAM,"2,016.000",Core,Eye,Ageless,8,0.000,7.793,135.000,On Going,Northeast

In [49]:
df_allchannelsalesunits['Units'][df_allchannelsalesunits['Sku'].str.contains('EYE-CREAM')].sum()

185436.0

In [50]:
serum_eye_sales = df_allchannelsalesunits['Units'][df_allchannelsalesunits['Sku'].str.contains('EYE-CREAM')].sum()
print((serum_eye_sales*100)/net_sales)

0.7069049631697183

**Serum-Eye**

In [20]:
df_allchannelsalesvol[df_allchannelsalesvol['Sku'].str.contains('SERUM-EYE')]

,Year,Month,Record Date,Sku #,Sku,Merged Sku,Launch Date,Classification,Subclass,Collection,Channel,Volume,COGS,MSRP,Line Edit,Region Name
10236,2017,1,2017-01-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,3,0.000,4.058,85.000,On Going,Canada
10237,2017,1,2017-01-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,3,0.000,4.058,85.000,On Going,Northeast
10238,2017,1,2017-01-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,3,0.000,4.058,85.000,On Going,Unassigned
10239,2017,1,2017-01-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,3,0.000,4.058,85.000,On Going,Central
10240,2017,1,2017-01-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,3,0.000,4.058,85.000,On Going,Southern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232162,2019,8,2019-08-01,NaN,TSN-SERUM-EYE-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232163,2019,9,2019-09-01,NaN,TSN-SERUM-EYE-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232164,2019,10,2019-10-01,NaN,TSN-SERUM-EYE-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232165,2019,11,2019-11-01,NaN,TSN-SERUM-EYE-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN
232166,2019,12,2019-12-01,NaN,TSN-SERUM-EYE-TRAVEL-GIFT,,NaN,NaN,NaN,NaN,1,0.000,NaN,NaN,NaN,NaN

In [26]:
df_allchannelsalesvol['Volume'][df_allchannelsalesvol['Sku'].str.contains('SERUM-EYE')].sum()

21968469.63559559

In [35]:
(df_allchannelsalesvol['Volume'][df_allchannelsalesvol['Sku'].str.contains('SERUM-EYE')].sum()/net_revenue)*100

1.7020146097424353

In [21]:
df_allchannelsalesunits[df_allchannelsalesunits['Sku'].str.contains('SERUM-EYE')]

,Year,Month,Record Date,Sku #,Sku,Merged Sku,Launch Date,Classification,Subclass,Collection,Channel,Units,COGS,MSRP,Line Edit,Region Name
10236,2017,1,2017-01-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,3,0.000,4.058,85.000,On Going,Canada
10237,2017,1,2017-01-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,3,0.000,4.058,85.000,On Going,Northeast
10238,2017,1,2017-01-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,3,0.000,4.058,85.000,On Going,Unassigned
10239,2017,1,2017-01-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,3,0.000,4.058,85.000,On Going,Central
10240,2017,1,2017-01-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,3,0.000,4.058,85.000,On Going,Southern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234067,2019,12,2019-12-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,8,0.000,4.058,85.000,On Going,Central
234068,2019,12,2019-12-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,8,0.000,4.058,85.000,On Going,Southern
234069,2019,12,2019-12-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,8,0.000,4.058,85.000,On Going,International
234070,2019,12,2019-12-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,8,0.000,4.058,85.000,On Going,Northeast
234071,2019,12,2019-12-01,Sku 22,SERUM-EYE,SERUM-EYE,"2,016.000",Core,Eye,Firming,8,0.000,4.058,85.000,On Going,International

In [36]:
df_allchannelsalesunits['Units'][df_allchannelsalesunits['Sku'].str.contains('SERUM-EYE')].sum()

281389.053773684

In [38]:
serum_eye_sales = df_allchannelsalesunits['Units'][df_allchannelsalesunits['Sku'].str.contains('SERUM-EYE')].sum()
print((serum_eye_sales*100)/net_sales)

1.0726898697892966

**Ritual-Starter-Set**

In [45]:
filt = (df_allchannelsalesvol['Sku'].str.contains('RITUAL')) & (df_allchannelsalesvol['Sku'].str.contains('STARTER'))
df_allchannelsalesvol[filt]

,Year,Month,Record Date,Sku #,Sku,Merged Sku,Launch Date,Classification,Subclass,Collection,Channel,Volume,COGS,MSRP,Line Edit,Region Name
154935,2018,1,2018-01-01,Sku 57,BLUE-STARTER-RITUAL,BLUE-STARTER-RITUAL,"2,018.000",Core Set,Set,RDKs,1,0.000,15.300,68.000,On Going,Northeast
154936,2018,2,2018-02-01,Sku 57,BLUE-STARTER-RITUAL,BLUE-STARTER-RITUAL,"2,018.000",Core Set,Set,RDKs,1,0.000,15.300,68.000,On Going,Northeast
154937,2018,3,2018-03-01,Sku 57,BLUE-STARTER-RITUAL,BLUE-STARTER-RITUAL,"2,018.000",Core Set,Set,RDKs,1,0.000,15.300,68.000,On Going,Northeast
154938,2018,4,2018-04-01,Sku 57,BLUE-STARTER-RITUAL,BLUE-STARTER-RITUAL,"2,018.000",Core Set,Set,RDKs,1,0.000,15.300,68.000,On Going,Northeast
154939,2018,5,2018-05-01,Sku 57,BLUE-STARTER-RITUAL,BLUE-STARTER-RITUAL,"2,018.000",Core Set,Set,RDKs,1,0.000,15.300,68.000,On Going,Northeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236266,2019,8,2019-08-01,Sku 58,DEWY-STARTER-RITUAL,DEWY-STARTER-RITUAL,"2,019.000",Core Set,Set,RDKs,1,0.000,14.500,59.000,On Going,Southern
236267,2019,9,2019-09-01,Sku 58,DEWY-STARTER-RITUAL,DEWY-STARTER-RITUAL,"2,019.000",Core Set,Set,RDKs,1,0.000,14.500,59.000,On Going,Southern
236268,2019,10,2019-10-01,Sku 58,DEWY-STARTER-RITUAL,DEWY-STARTER-RITUAL,"2,019.000",Core Set,Set,RDKs,1,0.000,14.500,59.000,On Going,Southern
236269,2019,11,2019-11-01,Sku 58,DEWY-STARTER-RITUAL,DEWY-STARTER-RITUAL,"2,019.000",Core Set,Set,RDKs,1,0.000,14.500,59.000,On Going,Southern
236270,2019,12,2019-12-01,Sku 58,DEWY-STARTER-RITUAL,DEWY-STARTER-RITUAL,"2,019.000",Core Set,Set,RDKs,1,0.000,14.500,59.000,On Going,Southern

In [46]:
df_allchannelsalesvol['Volume'][filt].sum()

1827702.0

In [47]:
(df_allchannelsalesvol['Volume'][filt].sum()*100)/net_revenue

0.14160183016185468

In [40]:
filt = (df_allchannelsalesunits['Sku'].str.contains('RITUAL')) & (df_allchannelsalesunits['Sku'].str.contains('STARTER'))
df_allchannelsalesunits[filt]

,Year,Month,Record Date,Sku #,Sku,Merged Sku,Launch Date,Classification,Subclass,Collection,Channel,Units,COGS,MSRP,Line Edit,Region Name
213966,2018,1,2018-01-01,Sku 57,BLUE-STARTER-RITUAL,BLUE-STARTER-RITUAL,"2,018.000",Core Set,Set,RDKs,1,0.000,15.300,68.000,On Going,Northeast
213967,2018,2,2018-02-01,Sku 57,BLUE-STARTER-RITUAL,BLUE-STARTER-RITUAL,"2,018.000",Core Set,Set,RDKs,1,0.000,15.300,68.000,On Going,Northeast
213968,2018,3,2018-03-01,Sku 57,BLUE-STARTER-RITUAL,BLUE-STARTER-RITUAL,"2,018.000",Core Set,Set,RDKs,1,0.000,15.300,68.000,On Going,Northeast
213969,2018,4,2018-04-01,Sku 57,BLUE-STARTER-RITUAL,BLUE-STARTER-RITUAL,"2,018.000",Core Set,Set,RDKs,1,0.000,15.300,68.000,On Going,Northeast
213970,2018,5,2018-05-01,Sku 57,BLUE-STARTER-RITUAL,BLUE-STARTER-RITUAL,"2,018.000",Core Set,Set,RDKs,1,0.000,15.300,68.000,On Going,Northeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231001,2019,8,2019-08-01,Sku 58,DEWY-STARTER-RITUAL,DEWY-STARTER-RITUAL,"2,019.000",Core Set,Set,RDKs,1,0.000,14.500,59.000,On Going,Southern
231002,2019,9,2019-09-01,Sku 58,DEWY-STARTER-RITUAL,DEWY-STARTER-RITUAL,"2,019.000",Core Set,Set,RDKs,1,0.000,14.500,59.000,On Going,Southern
231003,2019,10,2019-10-01,Sku 58,DEWY-STARTER-RITUAL,DEWY-STARTER-RITUAL,"2,019.000",Core Set,Set,RDKs,1,0.000,14.500,59.000,On Going,Southern
231004,2019,11,2019-11-01,Sku 58,DEWY-STARTER-RITUAL,DEWY-STARTER-RITUAL,"2,019.000",Core Set,Set,RDKs,1,0.000,14.500,59.000,On Going,Southern
231005,2019,12,2019-12-01,Sku 58,DEWY-STARTER-RITUAL,DEWY-STARTER-RITUAL,"2,019.000",Core Set,Set,RDKs,1,0.000,14.500,59.000,On Going,Southern

In [41]:
df_allchannelsalesunits['Units'][filt].sum()

30983.0

In [43]:
(df_allchannelsalesunits['Units'][filt].sum()*100)/net_sales

0.11811102738350365

In [ ]:
Skus	Out of Stock	Low WOS
SPF35 Travel Size	YES	
Skin Mist Full Size	YES	
Eye Cream	YES	
Serum-Eye	YES	
Ritual Starter Sets (.com)	NO	Yes

In [71]:
inventory_data = [
    ['SPF35 Travel Size', 1, 0, 0.09051, 0.30040],
    ['Skin Mist Full Size', 1, 0, 7.81259, 10.31809],
    ['Eye Cream', 1, 0, 0.80411, 0.70690],
    ['Serum-Eye', 1, 0, 1.70201, 1.07268],
    ['Ritual Starter Sets (.com)', 0, 1, 0.14160, 0.11811]
]

In [72]:
inventory = pd.DataFrame(inventory_data, columns=['SKUs', 'Out-of-Stock', 'Low-On-Stock', '%Revenue Contribution', '%Sales Contribution'])

In [73]:
inventory

,SKUs,Out-of-Stock,Low-On-Stock,%Revenue Contribution,%Sales Contribution
0,SPF35 Travel Size,1,0,0.091,0.300
1,Skin Mist Full Size,1,0,7.813,10.318
2,Eye Cream,1,0,0.804,0.707
3,Serum-Eye,1,0,1.702,1.073
4,Ritual Starter Sets (.com),0,1,0.142,0.118